<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Dependant bean cfg -->
<bean id="dt" class="java.util.Date"/>

<!-- Target bean cfg -->
<bean id="wmg" class="com.nt.beans.WishMessageGenerator">
<constructor-arg ref="dt"/><!-- Construction injection -->
</bean>


</beans>