<?xml version="1.0" encoding="UTF-8"?>
<beans default-merge="true" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="base1stYear" class="com.nt.beans.EnggCources" abstract="true">
    <constructor-arg name="subject">
    <set>
    <value>C Lang</value>
    <value>Communication Skills</value>
    <value>C Lang</value>
    </set>
    </constructor-arg>
    </bean>
    
    <bean id="CompScience" class="com.nt.beans.EnggCources" parent="base1stYear">
    <constructor-arg name="subject">
    <set>
    <value>Core Java</value>
    <value>Advanced Java</value>
    <value>Spring</value>
    <value>C Lang</value>    
    </set>
    </constructor-arg>
    </bean>
</beans>
