<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<import resource="service-bean.xml" />
	<import resource="persistance-bean.xml" />

	<!--bpp cfgs -->
	<bean id="bpp" class="com.nt.bpp.BOPostProcessor" />

	<!--DAO cfgs -->
	<bean id="nitDAO" class="com.nt.dao.NitDAOImpl" scope="singleton"/>

	<!--bean cfgs -->
	<bean id="stBO" class="com.nt.bo.StudentBO" scope="prototype"/>
	<bean id="empBO" class="com.nt.bo.EmployeeBO" scope="prototype"/>


	<!--service cfgs -->
	<bean id="nitService" class="com.nt.service.NitService" scope="singleton">
		<constructor-arg ref="nitDAO" />
		<lookup-method name="createStudentBO" bean="stBO" />
		<lookup-method name="createEmployeeBO" bean="empBO" />
	</bean>
</beans>
