<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<!--dependent class cfgs  -->
	<bean id="engg" class="com.nt.beans.Engine" scope="prototype"/>
	
	<!--target class cfgs  -->
	<bean id="vehicle" class="com.nt.beans.Vehicle" scope="singleton">
	<constructor-arg>
	<idref bean="engg"/>
	</constructor-arg>
	</bean>
	
</beans>
