<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="engine" class="com.nt.beans.Engine">
		<property name="engineId" value="101" />
		<property name="engineCC" value="1200cc" />
	</bean>
	
	<bean id="vehicle" class="com.nt.beans.Vehicle">
	<!-- <property name="vid" value="125"/> -->
	<property name="model" value="swift"/>
	<property name="engine" ref="engine"/>
	</bean>
	
</beans>
